# このファイルについて
- このファイルは Cline に対する指示を記載しており、Cline はこのファイルの指示に従う必要があります
- このファイルは markdown で記載されます


## コミットメッセージについて
- コミットメッセージは "<gitmoji> <description>" の形式で作成します
  - "<gitmoji>" は https://gitmoji.dev/ を参考にし、最も適切な一文字を適用します
  - "<description>" は commit の内容を英語で 80 文字以内で記載します